.header {
    position: relative;
    height: 80vh;
    background: linear-gradient(180deg,#013087,#00b3ff);
    overflow: hidden;

    &__overlay-wrap {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        
        // svg {
        //     position: absolute;
        //     bottom: 0;
        //     width: 100%;
        //     margin-bottom: -2px;
        // }

        &--1 {
            bottom: -3px;
            left: -1%;
            fill: white;
            stroke: white;
        }

        &--2 {
            bottom: 0;
            fill: rgba(255,255,255,0.5);
            right: 44%;
            // transform: scale(2) translate(-346px, -7px) rotate(3deg);
            stroke: transparent;
        }

        &--3 {
            bottom: 90px;
            left: 34%;
            fill: rgba(255, 255, 255, 0.3);
            stroke: transparent;
            // transform: scale(1.2) translate(-31px, -7px) rotate(-12deg) rotateY(180deg);
        }
    }
}