.header {
    height: 80vh;
    background: linear-gradient(180deg,#013087,#00b3ff);

    &__overlay {
        position: relative;
        height: 100%;

        svg {
            width: 100%;
            position: absolute;
            bottom: 0;
            fill: white;
            transform: translateY(2px);
            stroke: white;
        }
    }
}