$outline__g: 477;
$outline__d: 965;
$outline__y: 581;
$outline__apost: 135;
$outline__arc: 1184;
$outline__crai: 2063;

.st0 {
    stroke: white;
    fill: rgba(255,255,255, 1);
}

#outline__g {
    stroke-dasharray: $outline__g;
    stroke-dashoffset: 0;
    &.pathanimate {
        @include path($outline__g, g);
    }
}

#outline__d {
    stroke-dasharray: $outline__d;
    stroke-dashoffset: 0;
    &.pathanimate {
        @include path($outline__d, d);
    }
}

#outline__y { 
    stroke-dasharray: $outline__y;
    stroke-dashoffset: 0;
    &.pathanimate {
        @include path($outline__y, y);
    }
}

#outline__apost {
    stroke-dasharray: $outline__apost;
    stroke-dashoffset: 0;
    &.pathanimate {
        @include path($outline__apost, apost);
    }
}

#outline__arc {
    stroke-dasharray: $outline__arc;
    stroke-dashoffset: 0;
    &.pathanimate {
        @include path($outline__arc, arc);
    }
}

#outline__crai {
    stroke-dasharray: $outline__crai;
    stroke-dashoffset: 0;
    &.pathanimate {
        @include path($outline__crai, crai);
    }
}

.header--no-animate .header__signature-wrap .pathanimate {
    animation: none !important;
    stroke: white;
}