.aboutme {
    &__content {
        position: relative;
        z-index: 9;
        max-width: 575px;
    }

    &__background {
        position: fixed;
        right: -38vw;
        top: 20vw;
        width: 100%;
        transform: rotate(109deg);

        svg {
            fill: rgba(0,0,0,0.05);
        }

        @include screen--small {
            right: -39%;
            bottom: 0;
            top: auto;
            width: 115%;
        }
    }
}