.nav {
    display: flex;
    justify-content: space-around;
    padding: 0 25px;

    @include screen--small {
        flex-wrap: wrap;
    }

    &__item {
        display: block;
        width: 100px;
        height: 100px;

        @media screen and (max-width: 700px) {
            width: 85px;
        }

        @include screen--small {
            width: 100%;
        }

        > svg {
            stroke: white;
            border-radius: 8px;

            @include screen--small {
                display: block;
                margin: 0 auto;
                width: 75px;
            }
        }
    }
}