body {
    font-family: 'Open Sans', sans-serif;
}

.content-wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: $gutter;
}

.grid {
    display: grid;
}

.main {
    &--home {
        display: none;
    }
}
