body {
    font-family: 'Open Sans', sans-serif;
}

.content-wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: $gutter;
}

.grid {
    display: grid;
}

.main {
    &--home {
        display: none;
    }
}

.text {
    &__gradient {
        background-color: #013087;
        background: linear-gradient(90deg,#013087,#00b3ff);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        text-decoration: none;
    }
}
